.food-container {
  padding: 1rem;
  background-color: rgba(11, 9, 10, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Dodajemo senku za moderniji izgled */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efekat pri hover-u */

  &:hover {
    transform: scale(1.05); /* Blagi efekat povećanja pri hover-u */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
  }

  h3 {
    margin-top: 0;
    font-size: 2.2rem; /* Manja veličina za kompaktne kartice */
    color: goldenrod;
    font-style: italic;
  }

  .food-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 1rem;

    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 8px; /* Zaobljeni uglovi slike */
    }

    .info-image {
      width: 100%;
      height: 150px;
      border: 1px solid rgb(206, 202, 202);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px; /* Zaobljeni uglovi */
    }

    .food-text {
      text-align: center;

      .food-p {
        height: auto;
        overflow: hidden;

        p {
          font-size: 1.2rem;
          font-style: italic;
          color: silver;
        }
      }

      .food-feature {
        height: auto;
        overflow: hidden;
        background-color: rgba(16, 15, 15, 0.6);
        border-radius: 10px;

        ul {
          li {
            span {
              font-size: 0.9rem;
              font-style: italic;
              color: rgb(152, 149, 149);
            }
          }
        }
      }
    }
  }

  .food-price-add-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    .food-price {
      color: silver;
      font-size: 1.6rem;
      font-style: italic;
    }

    .add-button {
      button {
        padding: 10px 15px;
        background-color: black;
        color: gold;
        border: 2px solid gold;
        font-size: 14px;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
      }

      button:hover {
        background-color: gold;
        color: black;
      }
    }
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .food-container {
    padding: 0.8rem;

    h3 {
      font-size: 2rem;
    }

    .food-info {
      img {
        height: 120px;
      }
    }

    .food-price-add-button {
      flex-direction: column;
      .food-price {
        font-size: 1.4rem;
      }
    }
  }
}

@media (max-width: 576px) {
  .food-container {
    padding: 0.5rem;

    h3 {
      font-size: 1.8rem;
    }

    .food-info {
      img {
        height: 100px;
      }
    }

    .food-price-add-button {
      .food-price {
        font-size: 1.2rem;
      }
    }
  }
}
